<ion-view class='aboutus-background'>

  <ion-content scroll='false'>

    <div class="row row-top">
      <div class="col col-90">
      </div>
      <div class="col col-10 div-close">
        <a class="button button-icon" ui-sref='lessons'></a>
      </div>
    </div>

    <a href='http://www.ilabsoutheastasia.org'>
      <div class='ilab-logo'>
      </div>
    </a>


    <a href='http://www.kapekh.org' target='_new'>
      <div class='kape-logo' ng-click="redirectTo('http://www.kapekh.org')">
      </div>
    </a>

    <a href='http://spidercenter.org' target='_new'>
      <div class='spider-logo' ng-click="redirectTo('http://spidercenter.org')">
      </div>
    </a>

  </ion-content>

</ion-view>
