<ion-view class='aboutus-background'>

  <ion-content scroll='false'>

    <a class="button button-icon icon ion-close" ui-sref='grades'></a>

    <div class='aboutus-panel'>
      <div class='split-left'>
        <img ng-src='img/aboutus/app-logo.png' style='width: 42%; margin-top: 22%; margin-left: 40%;'>
        <div style='text-align: center; margin-left: 22%; margin-top: 6%; font-size: 16px; width: 77%;'>
          <p style='color: #763617; font-size: 30px; '> ជំនាន់ទី ១.០ </p>
          <p style='margin-top: 6%; line-height: 1.6;'> កម្មវិធីនេះត្រូវបានរៀបចំនិង ចងក្រងឡេីងដោយ ក្រុមការងារនៃអង្គការ KAPE និង អង្គការ InSTEDD តាមរយគំនិតផ្តួចផ្តេីមក្នុងកម្មវិធី iCamp</p>
        </div>
      </div>
      <div class='split-account-right'>
        <p style='margin-top: 9%;'> កម្មវិធីនេះបង្កេីតឡេីងក្រោមកិច្ចសហការរវាង </p>
        <div style='float: left;width: 65%;' >
          <a href='http://www.ilabsoutheastasia.org'><img src='img/aboutus/ilab-logo.png' style='width: 72%; margin-left: 12%; margin-top: 7%;'></a>
        </div>
        <div style='width: 35%; float: right;'>
          <a href='http://www.kapekh.org'><img src='img/aboutus/kape-logo.png' style='width: 50%; margin-left: -24%; margin-top: 4%;'></a>
        </div>
        <p style='float: none; margin-top: 27%;'>ដោយទទួលមូលនិធិគាំទ្រពី</p>
        <a href='http://spidercenter.org'><img src='img/aboutus/spider-logo.png' style='width: 51%; margin-top: 5%;'></a>
      </div>
    </div>

  </ion-content>

</ion-view>
