<ion-view class='app-background'>

  <ion-content>

    <a class="button button-icon icon ion-close"></a>

    <div class='account-panel'>
      <div class='split-left'>
        <img src='img/avatar/avatar.png' style='width: 34%; margin-top: 28%; margin-left: 42%;'>
        <label class="item-input account-name" >
          <input type="text" placeholder="បំពេញឈ្មោះនៅទីនេះ" id='name'>
        </label>

        <label class="item-input item-select select-grade">
          <div class="input-label">
              ថ្នាក់ទី
          </div>
          <select style='background-color: transparent; font-size: 22px; color: #763617;'>
              <option selected>១</option>
              <option >២</option>
              <option>៣</option>
          </select>
        </label>

        <label class="item-input item-select select-type">
          <select style='background-color: transparent; font-size: 22px; color: #763617;'>
              <option selected>ក</option>
              <option >ខ</option>
              <option>គ</option>
          </select>
        </label>
      </div>

      <div class='split-right'>
        <div class="account-previous"></div>
        <div class="avatar-selection">
          <div class="avatar-item">
          </div>
          <div class="button avatar-item">
          </div>
          <div class="button avatar-item">
          </div>
          <div class="button avatar-item">
          </div>
          <div class="button avatar-item">
          </div>
          <div class="button avatar-item">
          </div>
          <div></div>
        </div>
        <div class="account-next"></div>
      </div>


    </div>

  </ion-content>

</ion-view>
