<!-- <ion-view class='brush-background'> -->

  <!-- <ion-content scroll='false'> -->

    <a class="button button-icon icon ion-close" ui-sref='grades'></a>

    <div class='brush-panel'>
      <div class='brush-title'> ទំហំ និងពណ៌ខ្មៅដៃ </div>
      <div class='brush-modify'>
        <div class='pencil' ng-style="{'margin-left': 'calc(21% + (24% * '+sizeLevel+'))'}" ></div>

        <div class='brush-size-bar'></div>

        <div class='brush-size'>
          <div ng-click='setSizeLevel(0)' style="width: 4%; height: 60%; background-color: black; border-radius: 10px; display: inline-block; margin-left: 2%;">
          </div>

          <div ng-click='setSizeLevel(1)' style="width: 5%; height: 75%; background-color: black; border-radius: 16px;  display: inline-block; margin-left: 39%">
          </div>

          <div ng-click='setSizeLevel(2)'  style="width: 6%; height: 100%; background-color: black; border-radius: 22px;  display: inline-block;margin-left: 39%">
          </div>

          <span style="display: inline-block; margin-top: 3%; font-size: 28px;">
            តូច
          </span>
          <span style="display: inline-block;  margin-top: 3%;font-size: 28px; margin-left: 33%;">
            កណ្តាល
          </span>
          <span style="display: inline-block;  margin-top: 3%;font-size: 28px; margin-left: 34%;">
            ធំ
          </span>

        </div>

        <div class='color-selected'>

        </div>

        <div class='color-bar'>

        </div>
      </div>

    </div>

  <!-- </ion-content>

</ion-view> -->
