<ion-view class='app-background'>

  <ion-content scroll='false'>
    <div class='brush-panel'>
      <div class="row">
        <div class="col col-90">
        </div>
        <div class="col col-10 div-icon-close">
          <a class="button button-icon icon ion-close" ui-sref='contents'></a>
        </div>
      </div>


      <div class='brush-title'> ទំហំ និងពណ៌ខ្មៅដៃ </div>
      <div class='brush-modify'>
        <div class='pencil' ng-style="{'margin-left': 'calc(21% + (24% * '+sizeLevel+'))'}" ></div>

        <div class='brush-size-bar'></div>

        <div class='brush-size'>
          <div ng-click='setSizeLevel(0)' class='small-bullet'>
          </div>

          <div ng-click='setSizeLevel(1)' class='medium-bullet'>
          </div>

          <div ng-click='setSizeLevel(2)' class='big-bullet'>
          </div>

          <span ng-click='setSizeLevel(0)'>
            តូច
          </span>
          <span ng-click='setSizeLevel(1)'>
            កណ្តាល
          </span>
          <span ng-click='setSizeLevel(2)'>
            ធំ
          </span>

        </div>

        <div class='color-selected'
          ng-style="{'margin-left': 'calc(22.6% + (5.2% * '+colorIndex+'))'}">

        </div>

        <div class='color-bar'>
          <div ng-repeat='i in [0, 1, 2, 3, 4, 5, 6, 7, 8]' class='color-index'
              ng-click='setColorIndex(i)'>
          </div>
          <div ng-click='setColorIndex(9)'>
          </div>
        </div>
      </div>

    </div>

  </ion-content>

</ion-view>
