<ion-view class='app-background'>

  <ion-content scroll="false">
    <a ng-click='goBack()' class="button button-icon icon ion-back"></a>
    <div class="setting" ng-click='setting()'></div>
    <div class="book">
      <div class="row row-top" style='height: 74%;'>
        <div class="col col-40">
          <p class='content-title-numeric'> មេរៀនទី {{currentLesson["khmer_numeric"]}}</p>
          <p class='content-title'> {{currentLesson["name"]}}</p>

          <img ng-if='methodCode != 3 && methodCode != 4' ng-src='{{image}}'>
          <div ng-if='methodCode == 4' style='margin-left: 6%;'>
            <canvas id='paintingCanvas'
              style='background: transparent url({{image}}) no-repeat center center; background-size: contain;'>
          </div>

          <a ng-if='methodCode == 3'
             class="button button-icon icon ion-play"
             ng-click="playSound()">
          </a>
        </div>

        <div class="col col-60">
          <div class='row'>
            <div class='col col-90 writing-canvas'>

              <a ng-if='methodCode == 3 || methodCode == 4'
                 class="button button-icon icon ion-check-search"
                 ng-click='popupAnswer()'>
              </a>

              <div class='writing-panel' ng-if='methodCode == 4'
                  ng-class="{'adjust-size': methodCode == 3 || methodCode == 4}">
                <canvas id='drawingCanvas'
                  style='background: transparent url({{imageClue}}) no-repeat center center; background-size: contain;'>
              </div>

              <div class='writing-panel' ng-if='methodCode != 4'
                  ng-class="{'adjust-size': methodCode == 3 || methodCode == 4}">
                <canvas id='drawingCanvas'
                  style="background: transparent url({{imageBackground}}) no-repeat center center; background-size: contain;">
              </div>

            </div>

            <div class="col col-10 brush-setting"
                 ui-sref='brush'>
            </div>
          </div>
        </div>
      </div>
      <div class='writing-footer'>
        <div ng-if='isDisabledPrevious()'></div>
        <div ng-if='!isDisabledPrevious()'
             ng-click="previous()" class='previous'></div>
        <div class='delete'
            ng-click="redraw()"></div>
        <div class='next' ng-click='next()' ng-hide='isDisabledNext()'></div>
        <div class='resetTracks' ng-click='resetCurrentTrack()' ng-show='isDisabledNext()'></div>
      </div>
    </div>

  </ion-content>

</ion-view>
