<ion-view class='app-background'>

  <ion-content scroll="false">
    <a ng-click='goBack()' class="button button-icon icon ion-back"></a>
    <div class="setting" ng-click='setting()'></div>
    <div class="book">

      <div class='content-panel'>

        <div>
          <span class='content-title-numeric'> មេរៀនទី {{currentLesson["khmer_numeric"]}}</span>
          <span class='content-title'> {{currentLesson["name"]}}</span>
        </div>

        <img ng-if='methodCode != 3' ng-src='{{image}}'>
        <a ng-if='methodCode == 3' class="button button-icon icon ion-play" ng-click="playSound()" style='margin-top: 40%'></a>

      </div>

      <a ng-if='methodCode == 3 || methodCode == 4' class="button button-icon icon ion-check-search" ng-click='popupAnswer()'></a>

      <div class='writing-panel' ng-if='methodCode == 4' style='margin-top: -3%;'>
        <canvas width="470" height="365" id='drawingCanvas' style='background: transparent url({{imageClue}}) no-repeat center center; background-size: contain;'>
      </div>

      <div class='writing-panel' ng-if='methodCode != 4' ng-style='{"margin-top": methodCode == 1 || methodCode == 2 ? "10%" : "-3%"}' >
        <canvas width="470" height="365" id='drawingCanvas' style="background: transparent url({{imageBackground}}) no-repeat center center; background-size: contain;">
      </div>

      <a class="brush-setting" ui-sref='brush' ng-style='{"margin-top": methodCode == 1 || methodCode == 2 ? "21%" : "8%"}'></a>

      <div class='writing-footer'>
        <div ng-click="previous()" ng-class="{'previous' : !isDisabledPrevious()}"></div>
        <div class='delete' ng-click="redraw()"></div>
        <div class='next' ng-click='next()' ng-hide='isDisabledNext()'></div>
        <div class='resetTracks' ng-click='resetCurrentTrack()' ng-show='isDisabledNext()'></div>
      </div>

    </div>

  </ion-content>

</ion-view>
