<ion-view class='writing-background'>

  <ion-content scroll="false">

    <div class="back-contain" ng-click='goBack()'></div>

    <div class='writing-contain'>

      <div class='content-panel'>

        <img ng-if='methodCode != 3' src='img/grade{{gradeCode}}/lesson{{lessonCode}}/method{{methodCode}}/{{content}}.png' style="margin-top: 13%;">
        <a ng-if='methodCode == 3' class="button button-icon icon ion-play" ng-click="playSound()" style="margin-top: 30%;"></a>

      </div>

      <div class='writing-panel' ng-if='methodCode != 4' >
        <canvas width="330" height="310" id='drawingCanvas' style="background: transparent url(img/table.png) no-repeat center center; background-size: contain;">
      </div>

      <div class='writing-panel' ng-if='methodCode == 4' >
        <canvas width="330" height="310" id='drawingCanvas' style='background: transparent url(img/grade{{gradeCode}}/lesson{{lessonCode}}/method{{methodCode}}/{{content}}-clue.png) no-repeat center center; background-size: contain;'>
      </div>

      <div class='writing-footer'>
        <div class='previous' ng-click="previous()" ng-hide='isDisabledPrevious()'></div>
        <div class='delete' ng-click="redraw()"></div>
        <div class='next' ng-click='next()' ng-hide='isDisabledNext()'></div>
      </div>

    </div>

  </ion-content>

</ion-view>
