<ion-view class='grade-background'>

  <ion-content>



    <!-- <div class="back-contain"></div>

    <div class='lesson-title-contain'>
      <span class='method-lesson-text'> មេរៀនទី ១ ៖ </span>
      <br>
      <span class='lesson-title'> រៀនគូសបន្ទាត់ </spanp>
    </div>

    <div class='method-contain'>
      <div ng-click='setMethod(method)' class='method-item'>
        <img src='img/method/how-to-write.png'>
      </div>

      <div ng-click='setMethod(method)' class='method-item'>
        <img src='img/method/write-following-eyes.png'>
      </div>

      <div ng-click='setMethod(method)' class='method-item'>
        <img src='img/method/write-following-listening.png'>
      </div>

      <div ng-click='setMethod(method)' class='method-item'>
        <img src='img/method/write-following-picture.png'>
      </div>
    </div> -->

    <!-- <div class="back-contain" ng-click='goBack()'></div>

    <span class='grade-text'> ថ្នាក់ទី ១ </span>

    <div class='lesson-contain'>
      <div ng-click='setLesson(lesson)' class='lesson-item'>
        <span class='lesson-text'> មេរៀនទី </span>
        <span class='lesson-numeric-text'> ១ </span>
      </div>

      <div ng-click='setLesson(lesson)' class='lesson-item'>
        <span class='lesson-text'> មេរៀនទី </span>
        <span class='lesson-numeric-text'> ២ </span>
      </div>

      <div ng-click='setLesson(lesson)' class='lesson-item'>
        <span class='lesson-text'> មេរៀនទី </span>
        <span class='lesson-numeric-text'> ១ </span>
      </div>

      <div ng-click='setLesson(lesson)' class='lesson-item'>
        <span class='lesson-text'> មេរៀនទី </span>
        <span class='lesson-numeric-text'> ២ </span>
      </div>

      <div ng-click='setLesson(lesson)' class='lesson-item'>
        <span class='lesson-text'> មេរៀនទី </span>
        <span class='lesson-numeric-text'> ១ </span>
      </div>

      <div ng-click='setLesson(lesson)' class='lesson-item'>
        <span class='lesson-text'> មេរៀនទី </span>
        <span class='lesson-numeric-text'> ២ </span>
      </div>
    </div>

    <button class='next-lesson-btn' ng-click='next()'></button> -->

    <div class='grade-contain'>
      <div ng-click="setGrade(grade)" ui-sref='lessons' ng-repeat='grade in grades' class='grade-item'>
        <img src='img/grade/grade{{grade.code}}-btn.png'>
      </div>
    </div>

  </ion-content>

</ion-view>
