<ion-view class="grade-background">

  <ion-content>
    <!-- <div class="back-contain" ng-click='goBack()'></div>
    <span class="method-lesson-text">
      មេរៀនទី១ ៖
    </span>
    <span class="lesson-title">
      រៀនគូសបន្ទាត់
    </span>

    <div class='method-contain'>
      <div class='method-item'>
        <img src='img/method/how-to-write-btn.png'>
      </div>
      <div class='method-item'>
        <img src='img/method/write-following-eyes-btn.png'>
      </div>
      <div class='method-item'>
        <img src='img/method/write-following-listening-btn.png'>
      </div>
      <div class='method-item'>
        <img src='img/method/write-following-picture-btn.png'>
      </div>
    </div> -->

    <div class='grade-contain'>
      <div ng-click="setGrade(grade)" ng-repeat='grade in grades' class='grade-item'>
        <img src='img/grade/grade{{grade.code}}-btn.png'>
      </div>
    </div>

  </ion-content>

</ion-view>
