<ion-view class="lesson-background">
  <ion-content>
    <a ui-sref='settings' class="button button-icon icon ion-setting"></a>
    <div class='lesson-grade'>
      <p> {{gradeName}} </p>
      <div>
        <span> {{totalStarLessons}} <span style='color: #26bcf7;'> /{{totalLessons}} </span> </span>
      </div>
    </div>

    <div class='lesson-contain'>
      <div ng-repeat="lesson in lessonsBuilt track by $index"
           ui-sref='methods' ng-click='setLesson(lesson)'
           class='lesson-item'>
        <span class='lesson-text'> មេរៀនទី </span>
        <span class='lesson-numeric-text'
              ng-style='{"font-size": lesson["khmer_numeric"].length > 3 ? "2vw": "8vw;"}'>
              {{lesson["khmer_numeric"]}}
        </span>
        <div class='lesson-star-bar'>
          <i class='icon ion-star' ng-repeat='number in range(1, lesson.star)' ></i>
          <i class='icon ion-star blur' ng-repeat='unstar in range(lesson.star + 1 , 3)'></i>
        </div>
      </div>
    </div>

    <div class='lesson-next-previous'>
      <div class='lesson-previous' ng-click="previous()"></div>
      <div class='lesson-next' ng-click="next()"></div>
    </div>

  </ion-content>
</ion-view>
