<ion-view class='method-background'>

  <ion-content scroll='false'>

    <div class="back-btn" ng-click='goBack()'></div>

    <div class='lesson-title-contain'>
      <span class='method-lesson-text'> មេរៀនទី {{lessonKhmerNumeric}} ៖ </span>
      <br>
      <span class='lesson-title'> {{lessonTitle}} </spanp>
    </div>

    <div class='method-contain'>
      <div ng-repeat='method in methods' ui-sref='contents' ng-click='setMethod(method)' class='method-item'>
        <img src='img/method/{{method.icon}}.png'>
      </div>
    </div>

  </ion-content>
</ion-view>
