<ion-view class='method-background'>

  <ion-content scroll="false">

    <div class="back-contain" ng-click='goBack()'></div>

    <span class="method-lesson-text">
      មេរៀនទី {{lessonKhmerNumeric}} ៖
    </span>
    <span class="lesson-title">
      {{lessonTitle}}
    </span>

    <div class='method-contain'>
      <div ng-repeat='method in methods' ui-sref='contents' ng-click='setMethod(method)' class='method-item'>
        <img src='img/method/{{method.icon}}-btn.png'>
      </div>
    </div>

  </ion-content>
</ion-view>
