<ion-view class='app-background'>

  <ion-content scroll='false'>

    <a class="button button-icon icon ion-close" ui-sref='grades'></a>

    <div class='setting-panel'>
      <div class='user-panel'>
        <div class="avatar">
        </div>
        <a class="button button-icon icon ion-edit" ui-sref='accounts'></a>
        <p class='name'>{{currentUser.name}}</p>
        <p class='grade'>ថ្នាក់ទី {{currentUser.grade}} " {{currentUser.type}} "</p>
      </div>

      <div class='editing-panel'>
        <div class="new-user" ui-sref='accounts'></div>
        <div class="change-user" ui-sref='users'></div>
        <div class="delete-user"></div>
        <div class="sound"></div>
        <div class="aboutus" ui-sref='aboutus'></div>
      </div>

    </div>

  </ion-content>

</ion-view>
