<ion-view class='app-background'>

  <ion-content scroll='false'>

    <a class="button button-icon icon ion-close" ui-sref='grades'></a>

    <div class='setting-panel'>
      <div class='user-panel'>
        <img src='img/avatar/{{currentUser.avatar_name}}' style='width: 34%; margin-top: 20%; margin-left: 13%;'>
        <a class="button button-icon icon ion-edit" ui-sref="accounts({ state: 'edit'})"></a>
        <p class='name'>{{currentUser.name}}</p>
        <p class='grade'>ថ្នាក់ទី {{currentUser.grade}} " {{currentUser.type}} "</p>
      </div>

      <div class='editing-panel'>
        <div class="new-user" ui-sref="accounts({ state: 'new'})"></div>
        <div class="change-user" ui-sref='users'></div>
        <div class="delete-user" ng-click='deleteUser()'></div>
        <div class="sound"></div>
        <div class="aboutus" ui-sref='aboutus'></div>
      </div>

    </div>

  </ion-content>

</ion-view>
