<ion-view class='writing-background'>

  <ion-content>

    <div class='user-contain'>

      <div style="margin-left: 72%;" class='button'>
        ចុះឈេា្មះថ្មី
      </div>
      <hr>

      <div class="list card">
        <a href="#" class="item item-icon-left">
          <i class="icon ion-home"></i>
          ភ្ញៀវ
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-ios-telephone"></i>
          ធីតា
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-wifi"></i>
          មួយឡេង
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-card"></i>
          test
        </a>

      </div>

    </div>

  </ion-content>

</ion-view>
