@import 'application';

.aboutus-background {
  background: url("../img/aboutus/aboutus-background.png") $background;
  background-size: 100% 100%;
}

.aboutus-panel {
  display: block;
  background: url("../img/aboutus/aboutus-panel.png") $background;
  background-size: 93% 91%;
  height: 90%;
  width: 100%;
  margin-top: 3.5%;
}

.about-sponspor {
  background: url("../img/aboutus/box.png") $background;
  background-size: 91% 100%;
}
