@import 'application';
$font-color: #763617;
$font-size: 22px;


.account-panel {
  display: block;
  background: url("../img/account/account.png") $background;
  background-size: 92% 92%;
  height: 90%;
  margin-top: 3.5%;
  width: 100%;
}

.avatar-selection{
  display: inline-block;
  width: 37%;
  height: 59%;
  position: fixed;
  margin-left: 6%;
  margin-top: -2%;
}

.avatar-selection button:last-child{
  position: relative;
  background: url("../img/account/save.png") $background;
  background-size: contain;
  width: 67%;
  height: 16%;
  margin-left: 17%;
  margin-top: -6%;
  border: none;
}

.avatar-selection .selected{
  opacity: 1;
}

.avatar-item{
  display: inline-block;
  position: relative;
  background: $background;
  width: 29%;
  height: 35%;
  background-size: contain;
  margin-right: 2%;
  margin-left: 2%;
  cursor: pointer;
  opacity: .3;
}

.account-name{
  background: url(../img/account/name.png) $background;
  background-size: contain;
}

input[type="text"]#name::-webkit-input-placeholder {
  color: $font-color;
  font-size: $font-size;
}

.select-grade .item-select{
  background: url('../img/account/grade.png') $background;
  background-size: contain;
}

.select-type .item-select{
  background: url("../img/account/grade-type.png") $background;
  background-size: contain;
}

.item-select:after {
  content: none !important;
}

.select-type select option:checked {
  color: red;
}

.avatar {
  margin-top: 7%;
}

.avatar-image {
  margin-top: 24%;
  margin-left: 37%;
}

.avatar-image img{
  width: 73%;
}

.div-icon-close{
  margin-left: -3%;
}
