@import 'font';

$font-stack: 'Daun Teav';
$background: center center no-repeat;

ion-view {
  font-family: $font-stack !important;
}

.app-background {
  background: url("../img/setting/setting-screen.png") $background fixed;
  background-size: 100% 100%;
}

.activated{
  opacity: .3;
}

.popup {
  width: 60% !important;
  font-size: 20px;
  text-align: center;
}
