@import 'application';

.brush-background {
  background: url("../img/brush/brush-screen.png") $background fixed;
  background-size: cover;
}

.brush-panel {
  // display: block;
  // background: url("../img/brush/brush-panel.png") $background;
  // background-size: 92% 92%;
  // height: 90%;
  // margin-top: 3.5%;
  // width: 100%;
}

.brush-title{
  display: block;
  position: relative;
  font-size: 32px;
  color: #231F20;
  text-align: center;
  top: 14%;
  left: 7.5%;
}

.brush-modify{
  display: block;
  position: relative;
  background: url("../img/brush/panel-inside.png") $background;
  background-size: contain;
  height: 64.5%;
  margin-top: 10%;
}

.brush-size-bar{
  position: relative;
  background-color: #CEC2A5;
  width: 48%;
  height: 3%;
  border-radius: 8px;
  left: 26%;
  top: 25%;
}

.brush-size{
  width: 54%;
  height: 10%;
  display: inline-block;
  margin-left: 24%;
}

.color-bar{
  background: url("../img/brush/color-range.png") $background;
  background-size: contain;
  width: 52%;
  height: 32%;
  margin-left: 24%;
  margin-top: -7.5%;
}

.pencil{
  background: url("../img/brush/pencil-icon.png") $background;
  background-size: contain;
  width: 10%;
  height: 21%;
  float: left;
  margin-top: 5%;
  z-index: 10;
  position: relative;
}

.color-selected{
  background: url("../img/brush/selected-circle.png") $background;
  background-size: contain;
  width: 5%;
  height: 13.9%;
  margin-top: 3%;
  margin-left: 48.5%;
}
