.icon.ion-hearing{
  content: url('../img/icon/hearing.png');
}

.icon.ion-play{
  content: url('../img/icon/play.png') !important;
}

.icon.ion-not-hearing{
  content: url('../img/icon/not-hearing.png');
}

.icon.ion-expand{
  content: url('../img/icon/expand-48.png');
}

.icon.ion-collapse{
  content: url('../img/icon/collapse-48.png');
}

.icon.ion-back{
  width: 8%;
  float: left;
  margin-top: 0.5%;
  margin-left: 0.6%;
  content: url(../img/icon/back.png)!important;
}

.icon.ion-setting{
  width: 8%;
  float: right;
  margin-top: 0.6%;
  margin-right: 0.5%;
  content: url(../img/icon/setting.png)!important;
}
