@import 'application';

.lesson-background {
  background: url("../img/lesson/lesson-background.png") $background fixed;
  background-size: cover;
}

.lesson-contain{
  display: block;
  float: right;
  margin-top: 2%;
  width: 55%;
  height: 65%;
}

.lesson-item {
  display: inline-block;
  position: relative;
  background: transparent url("../img/lesson/lesson-book.png") $background;
  width: 25%;
  height: 37%;
  margin-bottom: 13%;
  margin-left: 3.6%;
  background-size: contain;
  text-align: center;
}

.lesson-grade{
  display: block;
  float: left;
  margin-top: 10%;
  width: 27%;
  height: 65%;
  margin-left: 15%;
  text-align: center;
}

.lesson-grade > p{
  margin-top: 52%;
  color: #26bcf7;
}

.lesson-grade div > span{
  position: relative;
  left: 11%;
  color: #EFCA2B;
}

.lesson-grade div{
  background: transparent url("../img/lesson/grade-star-bar.png") $background;
  background-size: contain;
  width: 55%;
  height: 15%;
}

.lesson-text{
  display: block;
  position: relative;
  color: #EFCA2B;
  font-size: 20px;
  margin-top: 18%;
}

.lesson-numeric-text {
  display: block;
  position: relative;
  color: #EFCA2B;
  text-align: center;
}

.lesson-next-previous{
  display: block;
  position: relative;
  width: 60%;
  height: 10%;
  margin-top: 2%;
  float: right;
  margin-right: 1%;
}

.lesson-next{
  display: inline-block;
  position: relative;
  background: transparent url("../img/lesson/next.png") $background;
  margin-left: 3%;
  height: 95%;
  width: 9%;
  background-size: contain;
}

.lesson-previous{
  display: inline-block;
  position: relative;
  background: transparent url("../img/lesson/previous.png") $background;
  width: 9%;
  height: 95%;
  margin-left: 41%;
  background-size: contain;
}

.lesson-star-bar {
  display: inline-block;
  width: 54%;
  height: 17%;
  border-radius: 12px;
  background-color: #FFFFFF;
}
