@import 'application';

.method-background {
  background: url("../img/method/method-background.png") $background fixed;
  background-size: cover;
}

.lesson-title-contain{
  background: transparent url("../img/method/lesson-title-bar.png") $background;
  background-size: contain;
  text-align: center;
  line-height: 1.4;
  margin-top: 7%;
  padding: 1.5%;
}

.lesson-title{
  color: #FCDE00;
  font-size: 200%;
}

.method-contain{
  display: block;
  width: 80%;
  height: 50%;
  margin-left: 15%;
  margin-top: 3%;
}

.method-item{
  display: inline-block;
  margin-left: 3%;
  width: 40%;
  margin-bottom: 6%;
}

.method-item img{
  width: 95%;
}

//Mobile device
@media only screen
  and (min-device-width: 500px)
  and (min-device-height: 320px)
  and (orientation: landscape) {

  .method-lesson-text {
    color: #f8f8f8;
    font-size: 12px;
  }

  .lesson-title {
    color: #FCDE00;
    font-size: 14px;
  }

}

@media only screen
  and (min-device-width: 640px)
  and (min-device-height: 360px)
  and (orientation: landscape){

  .method-lesson-text {
    color: #f8f8f8;
    font-size: 12px;
  }

  .lesson-title {
    color: #FCDE00;
    font-size: 14px;
  }

}


//Tablet Galaxy
@media only screen
  and (min-device-width: 1020px)
  and (min-device-height: 600px)
  and (orientation: landscape) {

  .method-lesson-text {
    color: #f8f8f8;
    font-size: 20px;
  }

  .lesson-title {
    color: #FCDE00;
    font-size: 26px;
  }

}
