@import 'application';

.setting-panel {
  display: block;
  background: url("../img/setting/setting-panel.png") $background;
  background-size: 93% 91%;
  height: 90%;
  width: 100%;
  margin-top: 3.5%;
}

.user-panel {
  display: inline-block;
  position: relative;
  float: left;
  text-align: center;
  width: 50%;
  height: 100%;
}

.editing-panel {
  display: inline-block;
  position: relative;
  height: 75%;
  width: 50%;
}

.editing-panel div{
  background-size: contain;
  margin-left: 6%;
  width: 65%;
  height: 21%;
}

.new-user{
  background: url("../img/setting/new.png") $background;
}

.change-user{
  background: url("../img/setting/change.png") $background;
  margin-top: 2%;
}

.delete-user{
  background: url("../img/setting/delete.png") $background;
  display: inline-block;
}

.sound{
  display: inline-block;
  background: url("../img/setting/sound-close.png") $background;
}

.sound.open{
  background-image: url("../img/setting/sound-open.png");
}

.aboutus{
  background: url("../img/setting/aboutus.png") $background;
  margin-top: 2%;
}

.avatar {
  background: url("../img/setting/avatar-box.png") $background;
  background-size: contain;
  margin-top: 20%;
  margin-left: 36.5%;
  width: 37%;
  height: 33%;
}

.name{
  color: #FFF;
  margin-top: 6%;
  font-size: 33px;
  margin-left: 10%;
}

.grade{
  color: #FFF;
  margin-top: 7%;
  font-size: 28px;
  margin-left: 8%;
}

.custom-popup .popup-head {
  display: none;
}
