@import 'application';
$font-color: #763617;

.contain-panel {
  display: block;
  background: url("../img/user/user-panel.png") $background;
  background-size: 93% 91%;
  height: 90%;
  width: 100%;
  margin-top: 3.5%;
}

.user-previous{
  display: inline-block;
  position: fixed;
  background: url("../img/user/previous.png") $background;
  background-size: contain;
  float: left;
  width: 2.8%;
  height: 8%;
  margin-left: 7.2%;
  margin-top: 23%;
}

.user-item{
  display: inline-block;
  position: fixed;
  width: 37%;
  height: 90%;
  margin-left: 1.3%;
  color: $font-color;
  text-align: center;
}

div.user-item:nth-last-of-type(2){
  margin-left: 40%;
}

.user-item p{
  margin-top: 6%;
  font-size: 29px;
}

.user-item p+p{
  font-size: 24px;
}

.user-item div{
  background: url(../img/user/save.png) $background;
  background-size: contain;
  width: 66%;
  height: 13%;
  margin-left: 18%;
}

.user-next{
  display: inline-block;
  position: relative;
  background: url("../img/user/next.png") $background;
  background-size: contain;
  width: 2.8%;
  height: 8%;
  margin-left: 90%;
}
