<ion-view title='របៀបសរសេរ' >

  <ion-nav-bar>
    <ion-nav-back-button>
      <i class="ion-chevron-left"></i>Back
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

    <div style='float: left; width: 50%; height: 100%;'><img src='img/class1-lesson1/{{imageName}}.png'/></div>
    <div style='float: right; width: 50%; height: 100%;'><canvas id='drawingCanvas' style='background-color: #d5d5d5;'></canvas></div>

  </ion-content>

  <ion-footer-bar>
    <button class="button" ng-click="goBack()" ng-disabled='isDisabledBack()'><i class="icon ion-arrow-left-a"></i></button>
    <button class="button" ng-click="redraw()"><i class="icon ion-loop"></i></button>
    <button class="button" ng-click="goNext()" ng-disabled='isDisabledNext()'><i class="icon ion-arrow-right-a"></i></button>
  </ion-footer-bar>

</ion-view>
