@font-face {
  font-family: 'Daun Teav';
  src: url("../fonts/DaunTeav.ttf");
  src: url("../fonts/DaunTeav.ttf") format("truetype"), url("../fonts/DaunTeav.woff") format("woff"), url("../fonts/DaunTeav.woff2") format("woff2"), url("../fonts/DaunTeav.eot?#iefix") format("embedded-opentype"), url("../fonts/DaunTeav.svg#AngDaunTeav") format("svg");
  font-weight: normal;
  font-style: normal; }

ion-view {
  font-family: "Daun Teav" !important; }

.app-background {
  background: url("../img/app-background.png") center center no-repeat fixed;
  background-size: cover; }

.activated {
  opacity: .3; }

.popup {
  width: 60% !important;
  font-size: 20px;
  text-align: center; }

.split-left {
  display: inline-block;
  position: relative;
  float: left;
  width: 40%;
  height: 100%; }

.split-right {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 60%; }

.account-panel {
  display: block;
  background: url("../img/account/account.png") center center no-repeat;
  background-size: 92% 92%;
  height: 90%;
  margin-top: 3.5%;
  width: 100%; }

.avatar-selection {
  display: inline-block;
  width: 37%;
  height: 59%;
  position: fixed;
  margin-top: 3%;
  margin-left: 7%; }

.avatar-selection button:last-child {
  position: relative;
  background: url("../img/account/save.png") center center no-repeat;
  background-size: contain;
  width: 67%;
  height: 16%;
  margin-left: 17%;
  margin-top: 1%;
  border: none; }

.avatar-selection .selected {
  opacity: 1; }

.avatar-item {
  display: inline-block;
  position: relative;
  background: center center no-repeat;
  width: 29%;
  height: 35%;
  background-size: contain;
  margin-right: 2%;
  margin-left: 1.5%;
  cursor: pointer;
  opacity: .3; }

.account-name {
  background: url(../img/account/name.png) center center no-repeat;
  background-size: contain;
  width: 79.5%;
  margin-left: 19.5% !important;
  margin-top: 3.8% !important;
  height: 11%; }

input[type="text"]#name::-webkit-input-placeholder {
  color: #763617;
  font-size: 22px; }

.select-grade {
  background: url(../img/account/grade.png) center center no-repeat;
  background-size: contain;
  margin-top: 4%;
  margin-left: 22%;
  width: 43.5%;
  height: 11%;
  float: left; }

.select-grade .input-label {
  font-size: 20px;
  color: #763617;
  margin-left: 25%; }

.select-type {
  background: url("../img/account/grade-type.png") center center no-repeat;
  background-size: contain;
  margin-top: 4%;
  width: 34%;
  height: 11%; }

.select-type select {
  margin-left: 20%;
  background-color: white; }

.item-select:after {
  content: none !important; }

.select-type select option:checked {
  color: red; }
