@font-face {
  font-family: 'Daun Teav';
  src: url('../fonts/AngDaunTeav.ttf');
  src: url('../fonts/AngDaunTeav.ttf')  format('truetype'),
       url('../fonts/AngDaunTeav.woff') format('woff'),
       url('../fonts/DaunTeav.woff2') format('woff2'),
       url('../fonts/DaunTeav.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AngDaunTeav.svg#AngDaunTeav') format('svg');
  font-weight: normal;
  font-style: normal;
}
