@font-face {
  font-family: 'Daun Teav';
  src: url("../fonts/DaunTeav.ttf");
  src: url("../fonts/DaunTeav.ttf") format("truetype"), url("../fonts/DaunTeav.woff") format("woff"), url("../fonts/DaunTeav.woff2") format("woff2"), url("../fonts/DaunTeav.eot?#iefix") format("embedded-opentype"), url("../fonts/DaunTeav.svg#AngDaunTeav") format("svg");
  font-weight: normal;
  font-style: normal; }

ion-view {
  font-family: "Daun Teav" !important; }

.app-background {
  background: url("../img/app-background.png") center center no-repeat fixed;
  background-size: cover; }

.activated {
  opacity: .3; }

.grade-background {
  background: url("../img/grade/grade-background.png") center center no-repeat fixed;
  background-size: cover; }

.grade-contain {
  display: block;
  float: right;
  margin-right: 20%;
  margin-top: 14%;
  width: 45%;
  height: 70%; }

.grade-item {
  width: 80%;
  height: 28%;
  margin-left: 14%; }

.grade-item img {
  width: 95%; }
