.grade-background {
  background: url("../img/grade/grade-background.png") no-repeat center center fixed;
  background-size: cover;
}

.grade-contain{
  display: block;
  float: right;
  margin-right: 28%;
  margin-top: 14%;
  width: 45%;
  height: 70%;
}

.grade-item {
  width: 80%;
  height: 28%;
  margin-left: 14%;
}

.grade-item img{
  width: 95%;
}

.grade-item.activated{
  margin-left: 18%;
}

.grade-item.activated img{
  width: 88%;
}
