@font-face {
  font-family: 'Daun Teav';
  src: url("../fonts/DaunTeav.ttf");
  src: url("../fonts/DaunTeav.ttf") format("truetype"), url("../fonts/DaunTeav.woff") format("woff"), url("../fonts/DaunTeav.woff2") format("woff2"), url("../fonts/DaunTeav.eot?#iefix") format("embedded-opentype"), url("../fonts/DaunTeav.svg#AngDaunTeav") format("svg");
  font-weight: normal;
  font-style: normal; }

ion-view {
  font-family: "Daun Teav" !important; }

.app-background {
  background: url("../img/app-background.png") center center no-repeat fixed;
  background-size: cover; }

.activated {
  opacity: .3; }

.setting-panel {
  display: block;
  background: url("../img/setting/setting-panel.png") center center no-repeat;
  background-size: 93% 91%;
  height: 90%;
  width: 100%;
  margin-top: 3.5%; }

.user-panel {
  display: inline-block;
  position: relative;
  float: left;
  text-align: center;
  width: 50%;
  height: 100%; }

.editing-panel {
  display: inline-block;
  position: relative;
  height: 75%;
  width: 50%; }

.editing-panel div {
  background-size: contain;
  margin-left: 6%;
  width: 65%;
  height: 21%; }

.new-user {
  background: url(../img/setting/new.png) center center no-repeat; }

.change-user {
  background: url(../img/setting/change.png) center center no-repeat;
  margin-top: 2%; }

.delete-user {
  background: url(../img/setting/delete.png) center center no-repeat;
  width: 28% !important;
  float: left; }

.sound {
  background: url(../img/setting/sound-close.png) center center no-repeat;
  margin-left: 36% !important;
  width: 35% !important; }

.aboutus {
  background: url(../img/setting/aboutus.png) center center no-repeat;
  margin-top: 2%; }

.avatar {
  background: url(../img/setting/avatar-box.png) center center no-repeat;
  background-size: contain;
  margin-top: 20%;
  margin-left: 36.5%;
  width: 37%;
  height: 33%; }

.name {
  color: #FFF;
  margin-top: 6%;
  font-size: 33px;
  margin-left: 10%; }

.grade {
  color: #FFF;
  margin-top: 7%;
  font-size: 28px;
  margin-left: 8%; }
