.back-btn{
  display: block;
  background: transparent url(../img/back-btn.png) no-repeat center center;
  width: 7%;
  height: 15%;
  margin-left: 1%;
  background-size: contain;
}


/* ================================ User screen element ================================*/
.user-contain{
  display: block;
  /* float: right; */
  margin-left: 26%;
  margin-top: 12%;
  width: 45%;
  height: 63%;
  background-color: white;
  border-radius: 10%;
}
