.back-contain{
  display: block;
  background: transparent url("../img/back-btn.png") no-repeat center center;
  width: 8%;
  height: 15%;
  margin-top: 2%;
  margin-left: 2%;
  border-radius: 45%;
  background-size: contain;
}

/* ============================== Background's screen =============================================*/

.grade-background {
  background: url("../img/grade/grade-background.png") no-repeat center center fixed;
  background-size: cover;
}

.lesson-background {
  background: url("../img/lesson/lesson-background.png") no-repeat center center fixed;
  background-size: cover;
}

.method-background {
  background: url("../img/method/method-background.png") no-repeat center center fixed;
  background-size: cover;
}

.writing-background {
  background: url("../img/content/writing-background.png") no-repeat center center fixed;
  background-size: cover;
}

/* ================================ Grade screen element ================================*/

.grade-contain{
  display: block;
  float: right;
  margin-right: 28%;
  margin-top: 14%;
  width: 45%;
  height: 65%;
}

.grade-item {
  display: block;
  position: relative;
  margin-bottom: 2%;
  width: 75%;
  margin-left: 15%;
}

.grade-item img{
  width: 99%;
}

/* ================================ Lesson screen element ================================*/

.lesson-contain{
  display: block;
  float: right;
  margin-right: 15%;
  margin-top: 1%;
  width: 44%;
  height: 60%;
}

.lesson-item {
  display: inline-block;
  position: relative;
  background: transparent url("../img/lesson/lesson-book.png") no-repeat center center;
  width: 27%;
  height: 42%;
  margin-bottom: 9%;
  margin-left: 4.5%;
  background-size: contain;
}

.grade-text{
  display: block;
  float: left;
  margin-top: 16%;
  margin-left: 16%;
  width: 20%;
  text-align: center;
  color: #26bcf7;
  font-size: 357%;
  font-family: 'Daun Teav';
}

.lesson-text{
  display: inline-block;
  position: relative;
  color: #f8f8f8;
  font-size: 120%;
  font-family: 'Daun Teav';
  margin-top: 30%;
  margin-left: 30%;
}

.lesson-numeric-text{
  display: inline-block;
  position: relative;
  color: #f8f8f8;
  font-size: 350%;
  font-family: 'Daun Teav';
  text-align: center;
  margin-top: 20%;
  margin-left: 30%;
}

.next-lesson-btn{
  position: absolute;
  background: transparent url("../img/lesson/next-btn.png") no-repeat center center;
  width: 8%;
  height: 14%;
  left: 89%;
  top: 46%;
  border: none;
  border-radius: 45%;
  background-size: contain;
}

/* ================================ Writing screen element ================================*/

.writing-contain{
  background: transparent url('../img/content/book.png') no-repeat center center;
  background-size: contain;
  display: block;
  height: 80%;
}

.content-panel{
  text-align: center;
  float: left;
  width: 50%;
  height: 64%;
  display: inline-block;
  position: relative;
}

.content-panel img{
  width: 90%;
}

.writing-panel{
  background: transparent url(../img/table.png) no-repeat center center;
  background-size: contain;
  float: right;
  margin-right: 14%;
  margin-top: 5%;
  height: 64%;
  width: 31%;
  display: inline-block;
  position: relative;
}

.writing-footer{
  display: inline-block;
  margin-top: 1%;
  margin-left: 9%;
  height: 13%;
  width: 81%;
  position: relative;
}

.writing-footer button {
  background-size: contain;
  display: inline-block;
  position: relative;
  width: 18%;
  height: 100%;
  border: none;
}

.previous{
  background: transparent url("../img/content/previous-btn.png") no-repeat center center;
  background-size: contain;
  float: left;
}

.delete{
  background: transparent url("../img/content/delete-btn.png") no-repeat center center;
  width: 14% !important;
  float: right;
}

.next{
  background: transparent url("../img/content/next-btn.png") no-repeat center center;
  float: right;
}


/*============================== Writing methods screen ==============================*/

.lesson-title-contain{
  background: transparent url("../img/method/lesson-title-bar.png") no-repeat center center;
  background-size: contain;
  font-family: 'Daun Teav';
  text-align: center;
  line-height: 1.5;
  margin-top: -4%;
  padding: 1.5%;
}

.method-lesson-text{
  color: #f8f8f8;
  font-size: 120%;
}

.lesson-title{
  color: #FCDE00;
  font-size: 200%;
}

.method-contain{
  display: block;
  width: 80%;
  height: 50%;
  margin-left: 15%;
  margin-top: 4%;
}

.method-item {
  display: inline-block;
  position: relative;
  margin-left: 1%;
  width: 41%;
  padding-bottom: 5%;
  padding-left: 3%;
}

.method-item:hover{
  opacity: 5%;
}

.method-item img{
  width: 99%;
}

.tranparent-button {
  border: none;
  background: none;
}
